@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

$font: 'Montserrat', sans-serif;

$white: #FFFFFF;
$pink-bg: #FCE7F6;
$blue-bg: #E3EAF8;
$black: #000000;
$red: #FF0073;
$pink-1: #FECBE2;
$pink-2: #FED0E5;
$pink-3: #FFF6FB;
$dark-gray: #707070;
$maroon: #7E0D40;
$blue: #57C7E4;
$yellow: #ECDC47;

:root {
    font-size: 16px;
}

html,
body {
    font-family: $font;
    font-smoothing: antialiased;
    height: 100%;
    font-size: 100%;
}

#body.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

// Navbar
.navbar {    
    background-color: $white !important;
    padding: 0 142px;
    
    .navbar-brand {
        font-size: 2.1875rem;
        color: $black;
        padding: 0;
    }

    #navbar-links {
        .nav-item {
            text-transform: uppercase;
            color: $dark-gray;
            margin-left: 2.5em;
            letter-spacing: 0;
            font-size: 1.25rem;
            padding: 50px 0;

            &:nth-child(1) {
                margin-left: 0;
            }

            &.active {
                border-bottom: 5px solid $red;
                .nav-link {
                    color: $red;
                }
            }
        }
    }
}

// Header Banner
#header-banner {
    padding-left: 142px;
    padding-right: 142px;
    background: transparent linear-gradient(270deg, $pink-bg 0%, $blue-bg 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px 50px 0px 0px;

    .row {
        padding-top: 132px;
        padding-bottom: 132px;

        #header-banner__left {
            h1 {
                font-size: 4.6875rem;
                letter-spacing: 0px;
                color: $black;

                strong {
                    font-size: 5.625rem;
                }
            }

            p {
                font-size: 1.25rem;
                color: $black;
                margin: 50px auto 80px;
                line-height: 50px;
            }

            button {
                padding: 30px 76px;
                border: 0px;
                border-radius: 40px;
                font-size: 1.5rem;
                text-transform: uppercase;
                background-color: $white;
                color: $red;
            }
        }

        #header-banner__right {
            margin-left: 25%;
        }
    }
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}