@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

$font: 'Montserrat', sans-serif;

$white: #FFFFFF;
$pink-bg: #FCE7F6;
$blue-bg: #E3EAF8;
$black: #000000;
$red: #FF0073;
$pink-1: #FECBE2;
$pink-2: #FED0E5;
$pink-3: #FFF6FB;
$dark-gray: #707070;
$gray-shadow: #0000000D;
$maroon: #7E0D40;
$blue: #57C7E4;
$yellow: #ECDC47;

:root {
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

html,
body {
    font-family: $font;
    -webkit-font-smooth: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    font-size: 100%;
}

#body.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

// Navbar
.navbar {    
    background-color: $white !important;
    padding: 0 8.875rem;
    
    .navbar-brand {
        font-size: 2.1875rem;
        color: $black;
        padding: 0;
    }

    #navbar-links {
        .nav-item {
            text-transform: uppercase;
            color: $dark-gray;
            margin-left: 2.5em;
            letter-spacing: 0;
            font-size: 1.25rem;
            padding: 3.125rem 0;

            &:nth-child(1) {
                margin-left: 0;
            }

            &.active {
                border-bottom: 5px solid $red;
                .nav-link {
                    color: $red;
                }
            }
        }
    }
}

// Header Banner
#header-banner {
    padding-left: 8.875rem;
    padding-right: 8.875rem;
    background: transparent linear-gradient(270deg, $pink-bg 0%, $blue-bg 100%) 0% 0% no-repeat padding-box;
    border-radius: 50px 50px 0px 0px;
    height: fit-content;

    .bg-circle-containner {
        .bg-circle {
            content: "";
            position: absolute;
            border-radius: 50%;
            background: transparent radial-gradient(closest-side at 69% 64%, $pink-1 0%, $pink-2 0%, $pink-3 100%) 0% 0% no-repeat padding-box;
            z-index: 1;

            // First biggest circle on the top left side
            &.c-one {
                width: 275px;
                height: 275px;
                top: 220px;
                left: -80px;
            }

            // Big circle near shoes
            &.c-two {
                width: 200px;
                height: 200px;
                top: 170px;
                right: 450px;
            }

            // Smaller circle near shoes on top of big circle
            &.c-three {
                width: 96px;
                height: 96px;
                top: 150px;
                right: 420px;
            }

            // Smallest circle on left bottom of banner
            &.c-four {
                width: 75px;
                height: 75px;
                top: 700px;
                left: 100px;
            }

            // Circle on middle bottom of banner
            &.c-five {
                width: 139px;
                height: 139px;
                top: 550px;
                left: 35%;
            }

            &.c-six {
                width: 139px;
                height: 139px;
                bottom: -250px;
                right: -50px;
            }
        }
    }

    .row {
        padding-top: 5rem;
        padding-bottom: 17.5rem;

        #header-banner__left {
            z-index: 2;
            margin-top: 6.25rem;
            h1 {
                font-size: 4.125rem;
                letter-spacing: 0px;
                color: $black;

                strong {
                    font-size: 4.25rem;
                }
            }

            p {
                font-size: 1.25rem;
                color: $black;
                margin: 3.125rem auto 5rem;
                line-height: 2.25rem;
            }

            button {
                padding: 1.5rem 4rem;
                border: 0px;
                border-radius: 50px;
                font-size: 1.25rem;
                text-transform: uppercase;
                background-color: $white;
                color: $red;
                box-shadow: 7px 12px 20px $gray-shadow;

                span {
                    margin-left: 30px;
                }
            }
        }

        #header-banner__right {
            z-index: 2;
            margin-left: 12.5%;

            #banner__right-carousel {
                .carousel-indicators {
                    bottom: -50px;
                    margin-left: 0;
                    margin-right: 0;

                    li {
                        text-indent: 0;
                        width: fit-content;
                        margin: 0 3rem;
                        transition: all 0.25s ease;
                        color: $black;
                        background-color: transparent;

                        .circle {
                            content: "";
                            position: absolute;
                            width: 1.875rem;
                            height: 1.875rem;
                            border-radius: 50px;
                            border: 3px solid $white;

                            &.red {
                                background-color: $red;
                            }

                            &.blue {
                                background-color: $blue;
                            }

                            &.yellow {
                                background-color: $yellow;
                            }
                        }

                        .caption {
                            margin-top: 3.5rem;
                            margin-left: -40px;
                            height: auto;
                            display: flex;

                            img {
                                background-color: transparent;
                                border: 0;
                                width: 100px;
                                height: auto;
                            }

                            .caption-content {
                                display: none;
                            }
                        }

                        &.active {
                            .circle {
                                width: 2rem;
                                height: 2rem;
                            }
                            .caption {
                                margin-right: 4rem;
                                img {
                                    z-index: 3;
                                    width: 100px;
                                    height: auto;
                                }                             
                                .caption-content {
                                    position: relative;
                                    display: block !important;
                                    font-size: 1.25rem;
                                    line-height: 2rem;
                                    background-color: $white;
                                    border-radius: 25px;
                                    margin-left: -70px;
                                    padding: .8125rem 4rem .8125rem 7rem;
                                    z-index: 1;

                                    .caption-content-plus {
                                        position: absolute;
                                        float: right;
                                        bottom: 30px;
                                        right: 15px;
                                        font-size: 2.5rem;
                                        color: $dark-gray;
                                    }
                                }
                            }
                        }
                    }
                }

                .carousel-item {
                    padding-right: 20%;

                    img {
                        filter: drop-shadow(0 10px 5px #4444dd);
                    }
                }

                .carousel-control-next-icon {
                    background-size: 100%, 100%;
                    border-radius: 50%;
                    background-image: none;
                }

                .carousel-control-next-icon:after {
                    content: '>';
                    font-size: 3.5rem;
                    color: $black;
                }
            }
        }
    }
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

@media (max-width: 1440px) {
    html, body {
        font-size: 75% !important;
    }
}